* text=auto

/public/**/* linguist-vendored

/build export-ignore
/demo export-ignore
/docs export-ignore
/tests export-ignore
/resources/assets export-ignore
/node_modules export-ignore
.travis.yml export-ignore
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
.editorconfig export-ignore
phpunit.xml export-ignore
bower.json export-ignore
package.json export-ignore
webpack.config.js export-ignore
sami.php export-ignore
CHANGELOG.md export-ignore
composer.lock export-ignore
yarn.lock

